name: build

on:
  push:
    branches:
      - master

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-2022
      fail-fast: true
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.17'
      - run: 'npm ci'
      - run: 'npm run package'
      - uses: actions/upload-artifact@v3
        with:
          path: out/
  deploy:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v3
        with:
          path: dist
      - run: 'chmod +x dist/artifact/*linux*/RedstoneLauncher-MSA-Login'
      - run: 'tar -czf RedstoneLauncher-MSA-Login-linux-x64.tar.gz RedstoneLauncher-MSA-Login-linux-x64'
        working-directory: dist/artifact
      - run: 'tar -czf RedstoneLauncher-MSA-Login-win32-x64.tar.gz RedstoneLauncher-MSA-Login-win32-x64'
        working-directory: dist/artifact
      - run: |
          hub release create -a dist/artifact/RedstoneLauncher-MSA-Login-linux-x64.tar.gz -a dist/artifact/RedstoneLauncher-MSA-Login-win32-x64.tar.gz $(node --eval="process.stdout.write(require('./package.json').version)")
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
